.body{
    background-color:rgb(194, 156, 230);
}
.h1datosPersonales{
    text-align: center;
    color: blue;
}



button{
    font-size: 30px;
}

.h1datos{
    text-align: center;
    color: blue;
}

#center{
    text-align: center;
}
.center{
    text-align: center;
}





